
body{
    background-color: #E9D5DA;
}
header{
    display: flex;
    margin-top: 0;
    background-color: #827397;
    padding: 0px 15px 15px 15px;
    border-end-start-radius: 1rem;
    border-end-end-radius:1rem ;
    justify-content: space-between;
    margin-bottom: 350px;
    transition: all 0.5s;
}
header img{
    margin-top: 4px;
    width: max-content/50%;
    border-radius: 2rem;
    padding: 0px;
    
    margin-left: 0px;
}
.nav{
    color: transparent;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 100%;

}
.nav a{
    text-decoration: none;
    color: #363062;
    margin-right: 25px;
    font-size: 2.0rem;
    
}

article{
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: #4D4C7D;
    border-radius: 2rem;
    text-align: center;
    color: #E9D5DA;
}
article img{
    border-radius: 1rem;
}
article h3{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
article p{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.dalam{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
#isi h2{
    color: #363062;
    font-size: 2.0rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
#saya{
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;

}
#saya img{
    border-radius: 1rem;
}
#saya h2{
    color: #363062;
    font-size: 2.0rem;
    text-align: center;
}
#saya p{
    color: #363062;
    font-size: 1.5rem;
    text-align: center;
}
.tentang{
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    display: block;
}
#tentang p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
#Akhir{
    padding: 30px;
    background-color: #827397;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: #E9D5DA;
}
#Akhir a{
    text-decoration: none;
    color: #E9D5DA;
    font-size: 2rem;
}
#Akhir p{
    color: #E9D5DA;
    font-size: 1.5rem;
}
.hilang{
    display: none;
}
.scroll{
    scroll-behavior: smooth;
}
#isi h2{
    color: #363062;
    font-size: 4.0rem;
    text-align: center;
    margin-bottom: 2rem;
}
#tom{
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    margin-bottom: 40px;
}
@media screen and (max-width: 650px) {
    header img{
        display: none;
    }
    header{
        align-items: center;
    }
    .nav{
        margin-left: max-content/50%;
        display: block;
        margin-top: 30px;
        
    }
    .nav a{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        padding: 130px;
    }
    article{
        display: block;
    }
    #Akhir{
        padding-bottom: 7rem;
        padding-top: 7rem;
    }
    nav li{
        margin-top: 2rem;
        text-align: center;

    }
    

}